<div class="row">
  <div class="col">

    <p class="text-center"><img src="img/thermometer.png" style="width: 8em; height: 8em;"></p>
    <h1>How Likely You Have COVID-19?</h1>

    <p>So you have flu-like symptoms like sore throat or fever. How likely it is that these symptoms are caused by COVID-19 and not by common cold or other sicknesses? Fill the fields below to find out.</p>

    <form>
      <div class="form-group">
        <label for="infected">How many infected individuals in your city, region, or country?</label>
        <input type="number" class="form-control" id="infected" aria-describedby="Number of Infected" placeholder="">
        <small id="infectedHelp" class="form-text text-muted">Estimate. This should be higher than the number of confirmed cases in your area.</small>
      </div>

      <div class="form-group">
        <label for="population">How large population in your city, region, or country?</label>
        <input type="number" class="form-control" id="population" aria-describedby="Population" placeholder="">
        <small id="populationHelp" class="form-text text-muted">Number of individuals. You can find this information for example on Wikipedia.</small>
      </div>

      <div class="form-group">
        <label for="symptoms">How many days you have flu-like symptoms in a year on average?</label>
        <input type="number" class="form-control" id="symptoms" aria-describedby="Days" placeholder="" value="10">
        <small id="symptomsHelp" class="form-text text-muted">Typically people experience seven to twenty days of common cold in a year.</small>
      </div>

      <div class="form-group">
        <label for="covidSymptoms">(optional) If a 100 individuals are infected with COVID-19 then how many of them shows any symptoms?</label>
        <input type="number" class="form-control" id="covidSymptoms" aria-describedby="Individuals" placeholder="" value="95">
        <small id="symptomsHelp" class="form-text text-muted">The default is 95. About 5% of infected adults show no symptoms according to [1].</small>
      </div>
    </form>

    <h2>Results</h2>

    <p id="results-prompt">Please fill in the fields above to see the results.</p>

    <div id="results" class="d-none">
      <p><strong>There is <span id="covidProb">?</span> in 100 chance that your symptoms are caused by COVID-19.</strong> In other words, in a group of 100 individuals with symptoms like you have, about <span id="covidProb2">?</span> are truly infected.</p>

      <p>Although the changes might sound small, remember that the risks involved in spreading the disease are far greater than gains in meeting people. Do not put others at risk.</p>
    </div>

    <h2>Disclaimer</h2>

    <p>Do not base your actions on results given by this calculator. This calculator only aims to provide one additional point of view on top of other beliefs, models, and information sources about COVID-19. This calculator is only a simple analytical tool and does not weight in the heavy risks to you and to others if you happen to be infected. Stay safe.</p>

    <p>This is free and open source software. Feel free to improve it. <a href="https://github.com/axelpale/covidcalculator">See the source code at GitHub</a>.</p>

    <h2>How was this result computed?</h2>

    <p>The result is computed by using <a href="https://en.wikipedia.org/wiki/Bayes%27_theorem">Bayes' theorem</a>, an important result in probability theory. The theorem goes like this: <em>P(C|S) = P(S|C) * P(C) / P(S)</em>. What do these symbols mean?</p>

    <p>Let <em>C</em> mean that a person has the corona virus and <em>S</em> mean that a person has some flu-like symptoms. Let <em>P(C)</em> be the probability that a randomly selected person is infected with the virus. Let <em>P(S)</em> be the probability that a randomly selected person shows some flu-like symptoms regardless being infected or not. Let <em>P(S|C)</em> mean how probable it is that a person who has the virus (<em>C</em>) shows some flu-like symtoms (<em>S</em>).</p>

    <p>What we want to know is <em>P(C|S)</em>. This is the probability that a person who has some symptoms has also the virus. Bayes' theorem is amazing and allows us to compute this otherwise hard-to-measure probability by using the three other values: <em>P(C)</em>, <em>P(S)</em>, and <em>P(S|C)</em>. By estimating the three, we can estimate the <em>P(C|S)</em>.</p>

    <p>The ratio of infected, <em>P(C)</em>, we estimate by taking the number of infected people in an area and divide that number by the total number of people in that area. The ratio of people showing symptoms when being infected, <em>P(S|C)</em>, can be estimated from available medical statistics like [1]. The ratio of people showing symptoms, <em>P(S)</em>, we estimate based on your personal tendency of being sick. The more often you are sick, the less probable it is that your current symptoms imply COVID-19 and not something else. However there is a catch. Your personal tendency of being sick does not include the effect of the new epidemic. The symptoms are caused either by the virus OR by something causing your personal tendency of being sick. Therefore we must define <em>P(S) = P(S_covid OR S_common) = P(S_covid) + P(S_common)</em>.</p>

    <p>Put these all together and apply Bayes' theorem, we get a rough estimate of the ratio of people, who after feeling some symptoms, truly have the virus, <em>P(C|S)</em>.</p>

    <h2>References</h2>

    <p>[1] Dong Y, Mo X, Hu Y, Qi X, Jiang F, Jiang Z, Tong S (2020). <a href="https://pediatrics.aappublications.org/content/pediatrics/early/2020/03/16/peds.2020-0702.full.pdf">"Epidemiological Characteristics of 2143 Pediatric Patients With 2019 Coronavirus Disease in China"</a>. Pediatrics: e20200702. doi:10.1542/peds.2020-0702.</p>

    <h2>Thanks</h2>

    <p class="pb-5">Emoticons by <a href="https://openmoji.org/">OpenMoji project</a>.</p>
  </div>
</div>
